<div class="container">
  <app-cockpit 
  (serverCreated) = "onServerAdded($event)" 
  (bpCreated) = "onBlueprintAdded($event)"> <!--Here we are waiting for receiving events 'serverCreated' and 'bpCreated'(this is an alias) -->
</app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!--Le pasamos srvElement al componente padre (server-element)-->
      <app-server-element [srvElement] = "serverElement" *ngFor="let serverElement of serverElements">
          <p> <!-- Thanks of ng-content all this code will be show in server-element component, but first compiled here. -->
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
      </app-server-element>
    </div>
  </div>
</div>
