<div class="container">
  <app-cockpit 
  (serverCreated) = "onServerAdded($event)" 
  (bpCreated) = "onBlueprintAdded($event)"> <!--Here we are waiting for receiving events 'serverCreated' and 'bpCreated'(this is an alias) -->
</app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element [srvElement] = "serverElement" *ngFor="let serverElement of serverElements"></app-server-element> <!--Le pasamos srvElement al componente padre (server-element)-->
    </div>
  </div>
</div>
